aclocal.m4
Makefile
Makefile.in
configure
build-aux
autom4te.cache
.version
.tarball-version
*.tar.gz
*.tar.bz2
mgsim-*
config.log
config.status
*.bin
*.out
*~
*.log
*.rej
*.orig
*#*#
sys_config.h
sys_config.h.in
mgsim.1
stamp-h1
.dirstamp
.deps
*.7
/.cproject
/.project
*.o
*.a
/tools/preproc
/mgsim
/tinysim
/tinysim-dyn
/programs/nobounds.ini
*.test
*.trs
*-bin
/mgsim.dbg
